# Core ML/AI packages
huggingface_hub
transformers
ultralytics
fairscale # Required for recognize-anything
gradio

# 3D visualization and mesh processing
pyvista
pyntcloud
trame
trame-vuetify
trame-vtk

# Fix torch typing version
torchtyping==0.1.5

# Git repositories
git+https://github.com/BasisResearch/feature-splatting.git
git+https://github.com/ChaoningZhang/MobileSAM.git
git+https://github.com/xinyu1205/recognize-anything.git