# Core ML/AI packages
huggingface_hub
transformers
ultralytics
gradio

# 3D visualization and mesh processing
pyvista
pyntcloud
trame
trame-vuetify
trame-vtk

# Fix torch typing version
torchtyping==0.1.5

# Git repositories
git+https://github.com/ChaoningZhang/MobileSAM.git

# Retrieval / CLIP
open-clip-torch