name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: tommybotch/collab-splats:latest
      options: --entrypoint "" # Remove entrypoint to run commands in the container

    steps:
      - uses: actions/checkout@v4

      # Set up GitHub token for private repo access
      - name: Set up GitHub token
        run: echo "${{ secrets.GITHUB_TOKEN }}" > ~/.token

      - name: Install repository
        run: |
          cd collab-splats
          bash setup.sh

      - name: Install collab-data
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install git+https://x-access-token:${GITHUB_TOKEN}@github.com/BasisResearch/collab-data.git

      - name: Lint
        run: |
          cd collab-splats
          make lint