name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: 
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.10']
        os: [ubuntu-latest]

    steps:
      # Checkout code
      - uses: actions/checkout@v4
      
      # Cache pip dependencies
      - name: pip cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            pip-      

      # Setup Python
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # Install dev dependencies (testing only)
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      # Set up GitHub token for private repo access
      - name: Set up GitHub token
        run: echo "${{ secrets.GITHUB_TOKEN }}" > ~/.token

      # Install dev dependencies + CPU PyTorch
      - name: Install dev dependencies + torch (CPU)
        run: |
          pip install torch==2.1.2+cpu torchvision==0.16.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
          pip install --upgrade pip setuptools wheel
          # # Install collab-splats without dependencies first
          # cd collab-splats
          # pip install --no-deps .
          # # Then install remaining dev dependencies
          # pip install .[dev]
      
      - name: Install collab-data
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install git+https://x-access-token:${GITHUB_TOKEN}@github.com/BasisResearch/collab-data.git

      - name: Install repository w/ dev dependencies
        run: |
          cd collab-splats
          bash setup.sh
          pip install .[dev]
  
      # Run tests
      - name: Test
        run: |
          cd collab-splats
          make test