name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: 
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.10']
        os: [ubuntu-latest]

    steps:
      # Checkout code
      - uses: actions/checkout@v4
      
      # Cache pip dependencies
      - name: pip cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            pip-      
      
      # Setup Python
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # Google Auth
      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_KEY }}' 

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: '>= 363.0.0'
    
      - name: Use gcloud CLI
        run: gcloud info          

      # Prepare GCP config
      - name: Create config-local folder
        run: mkdir config-local
      
      - name: Copy GCP credentials
        run: echo '${{ secrets.GCP_SERVICE_KEY }}' > ./config-local/collab-data-463313-c340ad86b28e.json
      
      - name: Set environment variables
        run: |
          echo "GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/config-local/collab-data-463313-c340ad86b28e.json" >> $GITHUB_ENV
          echo "GITHUB_ACTION=true" >> $GITHUB_ENV
           
      # Main Environment Setup
      - name: Run setup.sh
        run: bash ./setup.sh
                
      # Install dev dependencies + CPU PyTorch
      - name: Install dev dependencies + torch (CPU)
        run: |
          python -m pip install --upgrade pip
          pip install torch==2.1.2+cpu torchvision==0.16.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
          pip install .[dev]
      
      # Run tests
      - name: Run tests
        env:
          MKL_NUM_THREADS: 1
        run: ./scripts/test.sh